<emc-form-container id="form-container" hasheader noscroll>
    <form id="header-form">
        <h1>Areas</h1>
    </form>
    <form id="detail-form">
        <gt-edt-grid-type-entries id="type-grid" type="Area"></gt-edt-grid-type-entries>
    </form>
</emc-form-container>