<emc-captionpanel id="structure-panel" caption="structure">
    <jse-form-editor-structure-tree id="structure-editor-tree"></jse-form-editor-structure-tree>
</emc-captionpanel>
<emc-captionpanel id="preview-panel" caption="preview">
</emc-captionpanel>
<emc-captionpanel id="detail-panel" caption="detail">
    <jse-form-editor-detail-form id="detail-editor-form"></jse-form-editor-detail-form>
    <jse-form-editor-detail-form-element id="detail-editor-form-element"></jse-form-editor-detail-form-element>
</emc-captionpanel>