:host {
    display: grid;
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #111;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "structure preview detail";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#structure-panel {
    grid-area: structure;
}

#preview-panel {
    grid-area: preview;
}

#detail-panel {
    grid-area: detail;
}

#detail-panel > :not(.active) {
    display: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 0px 10px;
    margin: 5px;
    appearance: none;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
}

.button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}

.button:focus {
    box-shadow: none;
    outline: none;
}

#preview-panel .marked {
    outline-style: groove;
    outline-color: #c7c7c7a3;
    outline-width: 4px;
    outline-offset: -5px;
    z-index: 1;
}
