:host {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    padding: 0px 10px;
    margin: 5px;
    appearance: none;
    color: var(--button-text-color, #000000);
    background-color: var(--button-back-color, #cccccc);
    border-style: solid;
    border-width: var(--button-border-width, 2px);
    border-color: var(--button-border-color, #222222);
    border-radius: var(--button-border-radius, 6px);
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
}
.button:hover {
    color: var(--button-hover-text-color, #ffffff);
    background-color: var(--button-hover-back-color, #000000);
}
.button:focus {
    box-shadow: none;
    outline: none;
}
