* {
    box-sizing: border-box;
}
:host {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#choice {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#choice div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 5px;
    color: white;
    background-color: #222;
    cursor: pointer;
}