* {
    box-sizing: border-box;
}
:host {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    margin: 0px;
    background-color: var(--page-back-color, #000000);
    color: var(--page-text-color, #ffffff);
}
.content {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: auto;
}
