body {
    display: flex;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#pager {
    flex: 1;
}

div#list div > div {
    margin-left: 16px;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #ffe6af;
}

.sidebar a {
    display: block;
    padding: 8px;
    margin: 4px;
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar a:hover {
    background-color: #ffc649;
}

.sidebar a:target {
    color: #ffe6af;
    background-color: #000000;
}

#list {
    flex: 1;
    min-width: 200px;
    width: 20%;
    max-width: 1000px;
    overflow: scroll;
    resize: horizontal;
}

#view {
    flex: 1;
    border: none;
}
