:host {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
    user-select: none;
}
#form-container {
    height: 100%;
}
#detail-form {
    flex: 1;
}
h1 {
    font-size: 1.5em;
    margin: 10px;
}